@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Heiro";
  src: url("../public/fonts/HeirofLightOTFRegular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 964px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#post-wrapper::-webkit-scrollbar {
  display: block;
  height: 10px;
  top: 30%;
}

#post-wrapper::-webkit-scrollbar-button {
  display: none;
}

#post-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#post-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(209, 213, 219); /*gray-300*/
  border: 2px solid white;
  border-radius: 5px;
}

body.dark #post-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(75, 85, 99); /*gray-600*/
  border: 2px solid rgb(31, 41, 55); /*gray-800*/
  border-radius: 5px;
}

#showcase::-webkit-scrollbar {
  display: block;
  height: 15px;
  top: 30%;
}

#showcase::-webkit-scrollbar-button {
  display: none;
}

#showcase::-webkit-scrollbar-track {
  background: #1b0106;
}

#showcase::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 5px;
}

body.dark #showcase::-webkit-scrollbar-track {
  background: #e6fffd;
}

body.dark #showcase::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
